<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
    <title>Direktorijum zaposlenih</title>
</head>

<body>

<div class="container">

    <h3>Direktorijum zaposlenih</h3>
    <hr>

    <a class="btn btn-primary btn-sm mb-3"
       th:href="@{/zaposleni/formaDodavanje}">
        Dodaj zaposlenog
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Akcija</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempZaposlen : ${zaposleni}">

            <td th:text="${tempZaposlen.ime}"/>
            <td th:text="${tempZaposlen.prezime}"/>
            <td th:text="${tempZaposlen.email}"/>

            <td>
                <div class="row">

                    <div class="col-small">
                        <form action="#" method="POST" th:action="@{/zaposleni/formaUpdate}">

                            <input name="zaposlenId" th:value="${tempZaposlen.id}" type="hidden"/>
                            <button class="btn btn-info btn-sm me-1" style="float:left;" type="submit">Izmena</button>

                        </form>

                        <form action="#" method="POST" th:action="@{/zaposleni/delete}">
                            <input name="zaposlenId" th:value="${tempZaposlen.id}" type="hidden"/>
                            <button class="btn btn-danger btn-sm" onclick="if (!(confirm('Da li ste sigurni da želite da obrišete ovog zaposlenog?'))) return false"
                                    type="submit">
                                Obriši
                            </button>

                        </form>
                    </div>

                </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



